/*=====================Galeria================================*/
.Galeria {
    width: 100%;
    height: auto;
    background-color: rgba(255, 0, 0, 0);
}

/**************** gallery.html ***************/

/* section three */

.section-three {
    margin: 40px 0;
    background-color: #00000000;
    display: flex;
    justify-content: center;

}

.single-img {
    position: relative;
    background-color: var(--color-gris);
}

.single-img-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 5px 30px;
    background: var(--dark2);
}

.single-img-content h3 {
    font-size: 18px;
    font-weight: 300;

}

.j {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
}

.r {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.mis-fotos {
    color: #000;
    font-size: 30px;
    margin: 10px;
}

.ver-galeeria-fotos {
    width: 260px;
    color: #ffffff;
    border: none;
    background-color: #000;
    padding: 10px;
    margin: 7px;
}

.a {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 15px;
    background-color: rgba(255, 0, 0, 0);
}
.img-gal {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width:920px) {
    .a {
        width: 100px;
        height: 200px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 10px;
        background-color: rgba(255, 0, 0, 0);
    }
    .img-gal {
        width: 100px;
        height: 130px;
        object-fit: cover;
    }
    
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: contents;
}

.contenido2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin-bottom: 100px;
}

/************* end of index.html ***********/



/**************** gallery.html ***************/

/* section three */
.section-three {
    margin: 40px 0;
    background-color: #00000000;
    display: flex;
    justify-content: center;

}

.single-img {
    position: relative;
    background-color: var(--color-gris);
}

.single-img-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 5px 30px;
    background: var(--dark2);
}

.single-img-content h3 {
    font-size: 18px;
    font-weight: 300;

}

/************** end of gallery.html ***********/



/****************** blog.html ****************/

/* section four */
.section-four {
    margin: 40px 0;
}

.blog {
    margin: 40px 0;
}

.blog-content {
    padding: 25px;
    background: #f7f7f7;
}

.blog span {
    display: block;
}

.badge {
    background: var(--lightBlue);
    width: 140px;
    border-radius: 5px;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
}

.misc-info {
    font-size: 14px;
    color: var(--dark);
    margin-top: 16px;
}

.blog-title {
    font-size: 20px;
    font-weight: 900;
}

.blog-text {
    font-weight: 300;
}