* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    border: 0PX SOLID red;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #353744;
    color: #fff;
}


/* header 
header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    font-family: 'Oswald';
}*/
header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 10px;
    position: fixed;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 100;
}

header h1 {
    font-size: 18px;
    display: flex;
    align-items: center;
}

header h1 .cuadro {
    display: block;
    width: 15px;
    height: 15px;

    margin-right: 10px;
}

header nav ul {
    display: flex;
    list-style: none;

}

header nav ul li {
    padding: 10px 0;
    border-bottom: 3px solid #ffffff00;
    margin: 0 30px;
}

header nav ul li:hover {
    border-bottom: 3px solid #fff;
    transition: 1s ease-in-out;
}

header nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}


:root {
    --tamaño-ico: 10px;

}

.bt-menu {
    background-color: rgba(255, 0, 0, 0);
    display: none;
}

.ico-menu {
    font-size: 16px;
    color: rgb(228, 228, 228);
    background-color: #000000;
    border-radius: var(--tamaño-ico);
    padding: 10px;

}

@media screen and (max-width:920px) {
    .bt-menu {
        display: contents;
    }
}

.logo {
    width: 30px;
    border-radius: var(--tamaño-ico);
}

.linea {
    width: 100%;
    height: 100px;
}

.contenido {
    width: 100%;
    height: auto;
    background-color: #7c7c7c00;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.info {
    width: 450px;
    height: 400px;
    background-color: rgba(102, 255, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}


.botones {
    width: 400px;
    height: 50px;
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.red-ico {
    width: 140px;
    height: 400px;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.ico-lateral {
    margin: 10px;
    font-size: 25px;
}

.inst {
    color: rgb(0, 0, 0);
}

.inst:hover {
    text-shadow: 0px 0px 20px #fff;
    transition: 1s;
}

.pin {
    color: rgb(0, 0, 0);
}

.pin:hover {
    text-shadow: 0px 0px 20px #fff;
    transition: 1s;
}

.threads {
    color: rgb(0, 0, 0);
}

.threads:hover {
    text-shadow: 0px 0px 20px #fff;
    transition: 1s;
}

.div-img {
    width: 370px;
    background-color: #dacc0d00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 400px;
    height: auto;
    animation: movimiento 3.5s linear infinite;
    border: 1px solid rgba(255, 0, 0, 0);
    margin-left: 40px;
    margin-right: 40px;
}

:root {
    --letra-tamaño: 12px;
}

.bt1 {
    margin: 5px;
    width: 150px;
    padding: 10px;
    border: none;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: var(--letra-tamaño);
    cursor: pointer;

}

.bt2 {
    margin: 5px;
    width: 290px;
    padding: 10px;
    border: none;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: var(--letra-tamaño);
    cursor: pointer;

}

a {
    text-decoration: none;
}

.ico {
    color: rgb(16, 236, 16);
    font-size: var(--letra-tamaño);
}

.play {
    color: rgba(16, 49, 236, 0.788);
    font-size: var(--letra-tamaño);
}

@keyframes movimiento {
    0% {
        transform: translateX(20px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateX(20px);
    }
}

/* Responsive design */
@media screen and (max-width:920px) {
    .red-ico {
        display: none;
    }

    .linea {
        height: 10px;
    }

    header {
        background-color: transparent;
    }

    header nav {
        display: none;
        background-color: transparent;
    }

    header nav.responsive {
        display: block;
        position: absolute;
        right: 10px;
        top: 55px;
        background-color: #000000;
        border: 1px solid #5e323200;
        z-index: 10;
    }

    header nav.responsive ul {
        display: block;

    }

    .info {
        width: 390px;
        padding: 15px;
    }

    .div-img {
        width: 370px;
        background-color: #dacc0d00;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 350px;
        animation: movimiento 3.5s linear infinite;
        border: 1px solid rgba(255, 0, 0, 0);

    }

    .botones {
        width: 350px;


        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .contenido {
        display: flex;
        flex-direction: column-reverse;

    }

    @keyframes movimiento {
        0% {
            transform: translateX(10px);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateX(10px);
        }
    }
}

/*===================Letras===============================*/
.contenedor-texto .let {

    font-weight: 900;
    color: #000000;

    font-style: normal;
    font-size: 60px;
}

.titulo {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}


/*=================redes sociales===================*/

.ico-fp {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
}

.ico-fp:hover {
    text-shadow: 0px 0px 30px  #858fd4;
}

.red {
    width: auto;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.red-f {
    width: 300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.red-p {
    width: 300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}